{
  "presets": [
    "@babel/preset-typescript",
    [
      "@babel/preset-env",
      {
        "targets": "defaults"
        /* "debug": true,
        "useBuiltIns": "entry",
        "corejs": 3 */              //to add polyfill
      }
    ] 
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"]
}
